<div class="d-flex flex-column app-shell">
  <app-navbar (toggleSidebar)="drawer.toggle()"></app-navbar>

  <mat-sidenav-container class="flex-grow-1">
    <mat-sidenav #drawer [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)"
      class="app-sidebar border-0">
      <app-sidebar></app-sidebar>
    </mat-sidenav>

    <mat-sidenav-content class="app-content">
      <main class="app-main container-fluid p-4 p-lg-5 mx-auto">
        <router-outlet></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>